# Игнорировать базу данных
bot_database.sqlite3

# Игнорировать файлы окружения
.env

# Игнорировать кэш Python
__pycache__/

# Игнорировать настройки IDE (если используешь, например, PyCharm или VSCode)
.idea/
.vscode/

# Игнорировать Docker артефакты (если вдруг)
*.log
*.pid
locales/ru_backup.json
locales/en_backup.json
db/models_old.py
.venv

# Игнорировать всё в app-data
app-data/*

# Но НЕ игнорировать .gitkeep
!app-data/.gitkeep

.DS_Store